<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <img src= "/asset/logo.png" class="icon-logo" alt="Clinica dental">
      <a routerLink="/inicio" class="logo-text">Clinica<span>Dental</span></a>
    </div>
    
    <nav class="navbar-links desktop">
      <a routerLink="/estatico/inicio">Inicio</a>
      <a routerLink="/pacientes/lista-paciente">Pacientes</a>
      <a routerLink="/historial-medico/agregar-historial">Historiales</a>
      <a routerLink="/pagos/lista-pagos">Pagos</a>
      <a routerLink="/radiografias/lista-radiografias">Radiografías</a>
      <a routerLink="/tratamientos/lista-tratamientos">Tratamientos</a>
      <a routerLink="/citas/formulario-cita">Citas</a>
    </nav>

    <button id="mobile-menu-button" class="mobile-menu-button">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <div id="mobile-menu" class="mobile hidden">
      <a routerLink="/estatico/inicio">Inicio</a>
      <a routerLink="/pacientes/lista-paciente">Pacientes</a>
      <a routerLink="/historial-medico/agregar-historial">Historiales</a>
      <a routerLink="/pagos/lista-pagos">Pagos</a>
      <a routerLink="/radiografias/lista-radiografias">Radiografías</a>
      <a routerLink="/tratamientos/lista-tratamientos">Tratamientos</a>
      <a routerLink="/citas/formulario-cita">Citas</a>
  </div>
</header>
