<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <i class="fas fa-tooth icon-logo"></i>
      <a routerLink="/inicio" class="logo-text">Clinica<span>Dental</span></a>
    </div>

    <nav class="navbar-links desktop">
      <a routerLink="/inicio">Inicio</a>
      <a routerLink="/lista-paciente">Pacientes</a>
      <a routerLink="/lista-historial">Historiales</a>
      <a routerLink="/lista-pagos">Pagos</a>
      <a routerLink="/lista-radiografias">Radiografías</a>
      <a routerLink="/lista-tratamientos">Tratamientos</a>
      <a routerLink="/formulario-citas">Citas</a>
    </nav>

    <button id="mobile-menu-button" class="mobile-menu-button">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <!-- Menú en el celular -->
  <div id="mobile-menu" class="mobile hidden">
    <a routerLink="/inicio">Inicio</a>
      <a routerLink="/lista-paciente">Pacientes</a>
      <a routerLink="/lista-historial">Historiales</a>
      <a routerLink="/lista-pagos">Pagos</a>
      <a routerLink="/lista-radiografias">Radiografías</a>
      <a routerLink="/lista-tratamientos">Tratamientos</a>
      <a routerLink="/formulario-citas">Citas</a>
  </div>
</header>
