<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <i class="fas fa-tooth icon-logo"></i>
      <a href="#inicio" class="logo-text">Clinica<span>Dental</span></a>
    </div>

    <nav class="navbar-links desktop">
      <a href="#inicio">Inicio</a>
      <a href="#servicios">Servicios</a>
      <a href="#pacientes">Pacientes</a>
      <a href="#historial-medico">Historial</a>
      <a href="#pagos">Pagos</a>
      <a href="#radiografias">Radiografias</a>
      <a href="#tratamientos">Tratamientos</a>
      <a href="#citas">Reservar Cita</a>
    </nav>
    <button id="mobile-menu-button" class="mobile-menu-button">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <!-- Menu en el celular -->
  <div id="mobile-menu" class="mobile hidden">
      <a href="#inicio">Inicio</a>
      <a href="#servicios">Servicios</a>
      <a href="#pacientes">Pacientes</a>
      <a href="#historial-medico">Historial</a>
      <a href="#pagos">Pagos</a>
      <a href="#radiografias">Radiografias</a>
      <a href="#tratamientos">Tratamientos</a>
      <a href="#citas">Reservar Cita</a>
  </div>
</header>
