<app-nav-bar></app-nav-bar>

<section class="pago-section">
  <div class="contenedor">
    <div class="cabecera-listado">
      <h2>Listado de Pagos</h2>
      <a class="btn-nuevo" routerLink="/pago/formulario-pago">+ Nuevo Pago</a>
    </div>
    <table class="tabla-pago">
      <thead>
        <tr>
          <th>Tratamiento</th>
          <th>Fecha Pago</th>
          <th>Monto</th>
          <th>Método Pago</th>
          <th>Referencia</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of pagos">
          <td>{{ pago.nombre_tratamiento }}</td>
          <td>{{ pago.fecha_pago | date:'short' }}</td>
          <td>{{ pago.monto | currency:'$':'symbol':'1.0-2' }}</td>
          <td>{{ pago.metodo_pago }}</td>
          <td>{{ pago.referencia || '-' }}</td>
          <td>{{ pago.estado }}</td>
          <td>
            <div class="botones-acciones">
              <a [routerLink]="['/pago/detalle-pago', pago.id_pago]" class="btn-nuevo-ac">Detalle</a>
              <button (click)="deletePagoById(pago.id_pago)" class="btn-eliminar">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<app-footer></app-footer>
