<app-nav-bar></app-nav-bar>

<section class="pacientes-section">
  <div class="contenedor">
    <div class="cabecera-listado">
      <h2>Listado de Pacientes</h2>
      <a class="btn-nuevo" routerLink="/pacientes/formulario-paciente">+ Nuevo Paciente</a>
    </div>
    <table class="tabla-pacientes">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes">
          <td>{{ paciente.id_paciente }}</td>
          <td>{{ paciente.nombre }} {{ paciente.apellido }}</td>
          <td>{{ paciente.fecha_nacimiento }}</td>
          <td>{{ paciente.email }}</td>
          <td>{{ paciente.telefono }}</td>
          <td>
            <a [routerLink]="['/pacientes/detalle-paciente', paciente.id_paciente]" class="btn-nuevo-ac">Ver</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<app-footer></app-footer>