<app-nav-bar></app-nav-bar>

<section class="pacientes-section">
  <div class="contenedor">
    <div class="cabecera-listado">
      <h2>Listado de Pacientes</h2>
      <button class="btn-nuevo">+ Nuevo Paciente</button>
    </div>
    <table class="tabla-pacientes">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Correo</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>Juan Pérez</td>
          <td>34</td>
          <td>juan.perezexample.com</td>
          <td>+56 9 1234 5678</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<app-footer></app-footer>