<app-nav-bar></app-nav-bar>

<section class="cita-section">
  <div class="contenedor">
    <div class="cabecera-listado">
      <h2>Listado de Citas</h2>
      <a class="btn-nuevo" routerLink="/cita/formulario-cita">+ Nueva Cita</a>
    </div>
    <table class="tabla-cita">
      <thead>
        <tr>
          <th>Estado</th>
          <th>Fecha y hora</th>
          <th>Duración</th>
          <th>Rut Paciente</th>
          <th>Paciente</th>
          <th>Observaciones</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cita of citas">
          <td>{{ cita.estado }}</td>
          <td>{{ cita.fecha_hora | date:'short' }}</td>
          <td>{{ cita.duracion_minutos }} min</td>
          <td>{{ cita.paciente_rut }}</td>
          <td>{{ cita.paciente_nombre }} {{ cita.paciente_apellido }}</td>
          <td>{{ cita.observaciones }}</td>
          <td>
            <div class="botones-acciones">
              <a [routerLink]="['/cita/detalle-cita', cita.id_cita]" class="btn-ver">Ver</a>
              <button (click)="eliminarCita(cita.id_cita)" class="btn-eliminar">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<app-footer></app-footer>
