<div *ngIf="cargando">
  <p>Cargando historial...</p>
</div>

<div *ngIf="!cargando && historiales.length > 0">
  <div *ngFor="let historial of historiales" class="contenedor historial-wrapper">

    <!-- Contenedor clickeable -->
    <div class="historial-item clickable" (click)="verDetalleHistorial(historial.id_historial)">
      <table class="tabla-paciente">
        <tr>
          <th>Descripción</th>
          <td>{{ historial.descripcion }}</td>
        </tr>
        <tr>
          <th>Actualización</th>
          <td>{{ historial.fecha_actualizacion | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </table>
    </div>

  </div>
</div>

<div *ngIf="!cargando && historiales.length === 0">
  <p>No se encontró historial médico registrado para este paciente.</p>
</div>

<div *ngIf="error" class="error">
  {{ error }}
</div>
