<app-nav-bar></app-nav-bar>

<section class="paciente-section">
  <div class="contenedor">
    <div class="cabecera-listado">
      <h2>Listado de Tratamientos</h2>
      <a class="btn-nuevo" routerLink="/tratamiento/formulario-tratamiento">+ Nuevo tratamiento</a>
    </div>
    <table class="tabla-paciente">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Derecho</th>
          <th>Costo Base</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tratamiento of tratamientos">
          <td>{{ tratamiento.id_tratamiento }}</td>
          <td>{{ tratamiento.nombre }}</td>
          <td>{{ tratamiento.derecho | currency:'$':'symbol':'1.0-0' }}</td>
          <td>{{ tratamiento.costo_base | currency:'$':'symbol':'1.0-0' }}</td>
          <td>
            <div class="botones-acciones">
              <a [routerLink]="['/tratamiento/detalle-tratamiento', tratamiento.id_tratamiento]" class="btn-ver">Detalles</a>
              <button (click)="eliminarTratamiento(tratamiento.id_tratamiento)" class="btn-eliminar">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<app-footer></app-footer>
